# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
env/
venv/
ENV/
VENV/

# VS Code settings (if using VS Code)
.vscode/

# PyCharm settings (if using PyCharm)
.idea/

# Jupyter Notebook checkpoints (if you use them)
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment variable files
.env

# Output & logs
*.log
*.out
*.tmp
*.swp
